/* * {
    box-sizing:border-box;
} */

html,body{
    background: url('../images/steel_google.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    /* font-size: 18px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777; */
}

.navbar-brand {
    color: white !important;    
    

} 
@media screen and (max-width: 568px){
    .card-footer {
        display:none;
    }

} 
