

html,body{
    background: url('../images/steel_google.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    overflow:auto;
   
}



.navbar-brand {
    color: white !important;    
    

} 
@media screen and (max-width: 568px){
    .container-footer {
        display:none;
    }

} 

.card-img-top {

    height: 150px;
    width: auto;
}
